<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>
<body>     
    <h3>Сообщения</h3>
    <ul>
        {{#each messages}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
<html>